Source: linux-80211n-csitool-supplementary
Section: unknown
Priority: extra
Maintainer: bgat <bgat@billgatliff.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: linux-80211n-csitool-supplementary
Architecture: amd64
Depends: ${misc:Depends}
Description: linux-80211n-csitool-supplementary apps
 Executable artifacts from linux-80211n-csitool-supplementary
